doctype html
html
  head
    title Adii's Dance Academy 
    block scripts
    block style
  body
      nav#navbar
        ul 
            #logo   
                img(src="/static/img/logo.png")
                | AD
            li #[a(href='/') Home ]
            li #[a(href='/') About Us ]
            li #[a(href='/') Services ]
            li #[a(href='/') Class Information ]
            li #[a(href='/contact') Contact Us ]
      block content
      footer#footer 
        | CopyRight @ AdiiDanceAcademy.com | All Rights Reserved